.nav-bar {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #2a3855;
    padding: 1.008px;
    margin-bottom: -3.76rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    position: sticky;
    z-index: 1015;
  }
  .border-nav22{
    border: 1px solid #222222!important;
    border-radius: 90px;
    color: #000!important;
  }
  .border-21{
    border: 1px solid #222222!important;
  }
  /* Hamburger icon  */
  .navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
  }
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }
  .navbar-toggler span {
    margin: 0;
    padding: 0;
  }
  .toggler-icon {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #dbe0e9;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .middle-bar {
    margin-top: 0px;
  }
.header-st{
    position: relative;
    /* height: f; */
}
  .clr1{
color: #000!important;
  }
  .nav-pages1 {
    color: #fff !important;
    padding: 6.4px 19.2px !important;
  }
  .nav-pages1:hover {
    color: #1BDBBA !important;
  }
  
  /* When the navbar is clicked */
  .navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
  }
  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
  }
  .text-dark11{
    color: #262727!important;
  }
  
  /* When the navbar is collapsed */
  .navbar-toggler.collapsed .top-bar {
    margin-top: -15px;
    transform: rotate(0deg);
  }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .navbar-toggler.collapsed .bottom-bar {
    margin-top: 15px;
    transform: rotate(0deg);
  }
  /* hamburger ends here */
  
  .nav-btn {
    height: 34px;
    font-size: 12.003px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    padding: 6.4px 19.2px !important;
  }
  .c-bgg{
    
    /* background-color: #dbe0e9!important; */
    height: 700px!important;
  
  }
  @media (max-width: 992px) {
    /* FOR NAVBAR*/
    #nav-content {
      height: 282px;
    }
    /* .nav-pages {
      padding: 6.4px 0px !important;
    } */
    .nav-list {
      height: 212px;
    }
    .clr1{
        color: #fff!important;
    }
    /* .nav-btn {
      width: 100%;
      padding: 6.4px 19.2px;
      margin: 16px 0px;
    } */
    .nav-bar {
    
     background-color: #262727;
    }
  
    .border-nav{
      border: none!important;
      margin-top: 20px!important;
    }
    .border-nav22{
        border: none!important;
        border-radius: 90px;
      }
      .border-21{
        border:1px solid #fff!important;
        color: #fff!important;
      }
  }
  .nav-btn:hover {
   
    background-color: #1BDBBA
  
    ;
    border: 1px solid #1BDBBA;
    color: white;
  }
  .nav-pages {
    color: #fff!important;
    padding: 6.4px 19.2px !important;
  }
  .nav-pages:hover {
    color: #1BDBBA !important;
  }

  
  .text-IT{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #1BDBBA;
  }
  .text-IT1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 70px;
    color: #0c0c0c;
  }
  .text-3{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
  }
  .contact-now1{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
    position: absolute;
    left: 40%!important;
    
  }

  .parent-cc{
    position: relative;
  }
  .post-text{
    margin-top: 60px;
    position: absolute;
    
    left: 23%!important;
    top: 160px!important;
  
  }
 
  /* img section */
  .w-90t{
    width: 90%;
  }

  @media (max-width: 992px) {
    .position-text{
      margin-top: 30px;
      position: absolute;
      top: 90px!important;
      transform: translateY(25%);
    }
    .header-sec-1{

     height: 800px;
     background-size:auto;
      
    }
    .text-2{
      font-weight: 600;
      font-size: 50px;
      color: #fff;
    }

  }
  @media (max-width: 775px) {
    .post-text{
    margin-top: 60px;
    position: absolute;
    
    left: 0!important;
    top: 100px;
   
  }

  }

  @media (max-width: 570px) {
   
    .text-IT{
    
        font-weight: 500;
        font-size: 20px;
        color: #1BDBBA;
      }
      .text-IT1{
        font-weight: 600;
        font-size: 50px;
        color: #0c0c0c;
      }
      .contact-now1{
       
        position: absolute;
        left: 25%!important;
        
      }
  }


  .text-goes{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 60px;
  }

  .text-goes11 p{
   color: #4C4E4F;
   font-size: 18px;
   font-weight: 400;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }