body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* form */

.form-container{
  background-color: #000000;
}
.po23{
  margin-top: 90px;
}
.form-iconn{
  width: 130px;
  display: inline-flex;
  background-color: #504f4f!important;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 30px;
}

.btnnn{
  display: inline-block;
  width: 100%;
  background-color: #1BDBBA;
  color: aliceblue;
  text-align: center;
}
.btnnn:hover{
 
  background-color: #1BDBBA;
  color: aliceblue;
  text-align: center;
}
.colr{
  font-size: 16px;
  color: #1BDBBA;
}
.text-c{
  font-weight: 500;
  font-size: 30px;
  color: aliceblue;
}
.text-c2-p{
  color: #959393;
  font-size: 15px;
  font-weight: 400;
}
.text-c2{
  color: #3a3939;
  font-size: 15px;
  font-weight: 400;
}
.text-areaa{
  height: 100px!important;
}

/* Our Strategic Partners section */
.Our-stra{
  font-weight: 600;
  font-size: 80px!important;
  color: #060606;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  .Our-stra-p{
    font-weight: 400!important;
    font-size: 20px!important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #343434!important;
  
  }
  .btn-c{
     color: #eceef0;
     font-size: 16px;
     font-weight: 600;
     background-color: #666666;
     padding: 15px 28px;

  }
  .btn-c:hover{
    
    background-color: #666666;
    color: #eceef0;
 

 }

 @media (max-width: 564px) {
  .Our-stra{
    font-weight: 600;
    font-size: 40px!important;
    color: #060606;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
    .Our-stra-p{
      font-weight: 400!important;
      font-size: 20px!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #343434!important;
    
    }
    .text-2{
      font-weight: 500!important;
      font-size: 20px;
      color: #fff;
    }

}

 /* @media (max-width: 992px) {
  .position-text{
    margin-top: 30px;
    position: absolute;
    top: 90px!important;
    transform: translateY(25%);
  }
  .header-sec-1{

   height: 800px;
   background-size:auto;
    
  }
  .text-2{
    font-weight: 600;
    font-size: 50px;
    color: #fff;
  }

} */

/* card */
.part{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1d1c1c;
}
.trust{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #666666;
}

/* About */

.About_TC{
  color: #1BDBBA;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Odooo */
.feedbackk{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1d1c1c;
}
.titlee{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6b6969;
}